<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        studentid=10;
        console.log(typeof(studentid))
        number=100;
        console.log(typeof(number))
        name='athi'
        console.log(typeof(name))
        a=['athi','ammu','nandhu'];
        console.log(typeof(a))
        mark=['99','98','97'];
        console.log(typeof(mark))
    </script>
</body>
</html>