<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        marks=[55,58,65,45]
        console.log(marks)
        console.log(marks[0])
        student={'roll no.':'5','name':'athira','class':10}
        console.log(student)
        // function myname(){
        //     name="athira"
        // }
        // console.log(name)
        // alert('Welcome to Babtra')
        // confirm('are you sure?')
    //   
    a=5;
    if(a>5){
        cosole.log('Number is greater than 5')
    }
    else if(a==5){
        console.log('number is equal to 5')
    }
    else{console.log('Number is less than to 5')}
    
    b=10;c='10';
    if(b==c){
        console.log('both values and data types is equal')
    }
    else{console.log('both values are not equal')}

    x=15;
    if(x<25 && x>10)
    {
        console.log('the no is between 10 and 25')}
        else{
            console.log('invalid number')
        }

        x=26;
        if(x<25 && x>10)
    {
        console.log('the no is between 10 and 25')}
        else{
            console.log('invalid number')
        }

    </script>
</body>
</html>