<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        daynumber=11;
        switch(daynumber){
            case 1:
                console.log('sunday')
                break;
            case 2:
                console.log('monday') 
                break;
            case 3:
                console.log('tuesday')
                break;
            case 4:
                console.log('wednesday')
                break;
            case 5:
                console.log('thursday')  
                break;
            case 6:
                console.log('friday')
                break;
            case 7:
                console.log('satarday')
                break;
            default:
                console.log('enter a number between 1 to 7')
                break; 
        }
    </script>
</body>
</html>