<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var name3="anajli"
        function myname(){
            name1="athira"
            var name2="sangeeth"
            console.log(name2)
        }
        myname()
        console.log(name1)
        // console.log(name2)
        console.log(name3)
    </script>
</body>
</html>