<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <script>
        // i=0
        // while(i<=10){
        //     console.log(i)
        //     i++
        // }
    </script> -->
    <!-- <script>
        i=0
        do{
            console.log(i)
            i++
        }while(i<=10);
    </script> -->
    <!-- <script>
        names=['athira','shajil','arun','akhil']
        for(studentname of names){
            console.log(studentname)
        }
    </script> -->
    <script>
        student={fname:'athira',lname:'sangeeth',age:'28'}
        for(studentdetails in student){
            // console.log('firstname is '+student.fname+ 'lastname is '+student.lname+ 'Age is '+student.age)
        console.log(student[studentdetails])
        }
    </script>
</body>
</html>