{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid</title>
    <link rel="stylesheet" href="{% static 'css/css1.css' %}">
</head>
<body>
    <div class="container">
        <div class="a">
            <img src="https://tse2.mm.bing.net/th?id=OIP.DHIrIDJg0vqI8XDkZa28JAHaE9&pid=Api&P=0&w=264&h=177">
            <p>Choose your car</p>
            <button>Add to cart</button>
        </div>
        <div class="b">
            <img src="https://tse4.mm.bing.net/th?id=OIP.ts7Z47lH2BgWERfV7QOxTQHaEo&pid=Api&P=0&w=272&h=170">
            <p>Choose your car</p>
            <button>Add to cart</button>
        </div>
        <div class="c">
            <img src="https://tse2.mm.bing.net/th?id=OIP.r2i5uqt3lBko4volpEWy3AHaFY&pid=Api&P=0&w=219&h=159">
            <p>Choose your car</p>
            <button>Add to cart</button>
        </div>
        <div class="d">
            <img src="https://tse4.mm.bing.net/th?id=OIP.gbEKzPuLAq4Tnr-b3qyb3gHaEo&pid=Api&P=0&w=259&h=162">
            <p>Choose your car</p>
            <button>Add to cart</button>
        </div>
        <div class="e">
            <img src="https://tse2.mm.bing.net/th?id=OIP.9bThB-0dbI38LLIcQCL7hQHaEK&pid=Api&P=0&w=327&h=184">
            <p>Choose your car</p>
            <button>Add to cart</button>
        </div>
        <div class="f">
            <img src="https://tse4.mm.bing.net/th?id=OIP.ts7Z47lH2BgWERfV7QOxTQHaEo&pid=Api&P=0&w=272&h=170">
            <p>Choose your car</p>
            <button>Add to cart</button>
        </div>
        <div class="g">
            <img src="https://tse2.mm.bing.net/th?id=OIP.DHIrIDJg0vqI8XDkZa28JAHaE9&pid=Api&P=0&w=264&h=177">
            <p>Choose your car</p>
            <button>Add to cart</button>
        </div>
        <div class="h">
            <img src="https://tse2.mm.bing.net/th?id=OIP.r2i5uqt3lBko4volpEWy3AHaFY&pid=Api&P=0&w=219&h=159">
            <p>Choose your car</p>
            <button>Add to cart</button>
        </div>
    </div>
</body>
</html>