<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .container{
        display:grid;
        background-color: brown;
        grid-template-columns: auto auto auto;
        grid-template-rows: 300px 300px 300px;
    }
    img {
        width: 250px;
        height: 200px;
    }
</style>
</head>
<body>
    <div class="container">
        <div><image src="https://tse2.mm.bing.net/th?id=OIP.tbZJHf_eoBKx5S83H1gKcQHaEK&pid=Api&P=0&w=301&h=169"></image><br>
        <p>Choose the image</p>
            <input type="submit" value="Submit">
        </div>
        <div><image src="https://tse2.mm.bing.net/th?id=OIP.tbZJHf_eoBKx5S83H1gKcQHaEK&pid=Api&P=0&w=301&h=169"></image><br>
            <input type="submit" value="Submit">
        </div>
        <div><image src="https://tse2.mm.bing.net/th?id=OIP.tbZJHf_eoBKx5S83H1gKcQHaEK&pid=Api&P=0&w=301&h=169"></image><br>
            <input type="submit" value="Submit">
        </div>
        <div><image src="https://tse2.mm.bing.net/th?id=OIP.tbZJHf_eoBKx5S83H1gKcQHaEK&pid=Api&P=0&w=301&h=169"></image><br>
            <input type="submit" value="Submit">
        </div>
        <div><image src="https://tse2.mm.bing.net/th?id=OIP.tbZJHf_eoBKx5S83H1gKcQHaEK&pid=Api&P=0&w=301&h=169"></image><br>
            <input type="submit" value="Submit">
        </div>
        <div><image src="https://tse2.mm.bing.net/th?id=OIP.tbZJHf_eoBKx5S83H1gKcQHaEK&pid=Api&P=0&w=301&h=169"></image><br>
            <input type="submit" value="Submit">
        </div>
    </div>
</body>
</html>